<ion-header-bar class="bar-positive">
        <button class="icon ion-navicon button button-clear"></button>
        <h1 class="title">Ionic Blank Starter</h1>
        <button class="icon ion-gear-a button button-clear"></button>
      </ion-header-bar>
      <ion-tabs class="tabs-icon-top">
          <ion-tab badge="1" badge-style="badge-assertive" icon="ion-home" title="Home"></ion-tab>
          <ion-tab icon="ion-person" title="About us"></ion-tab>
          <ion-tab icon="ion-calendar" title="Calendar"></ion-tab>
        </ion-tabs>
      <ion-content>
        <div class="list list-inset">
          <label for="" class="item item-input item-floating-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="Your First Name">
          </label>
          <label for="" class="item item-input item-stacked-label">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="Your Last Name">
          </label>
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Address">
            </label>
            <button class="button button-small">
              Search
            </button>
          </div>
          <label class="item item-input">
            <textarea placeholder="Comments"></textarea>
          </label>
          <div class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox"/>
            </label>
            <span class="input-label">Rock Star</span>
          </div>
          <div class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox"/>
            </label>
            <span class="input-label">Hollywood</span>
          </div>
          <div class="item item-divider">
            Elije tu red social preferida
          </div>
          <label class="item item-radio">
            <input type="radio" name="social">
            <div class="item-content">Facebook</div>
            <i class="radio-icon ion-social-facebook"></i>
          </label>
          <label class="item item-radio">
            <input type="radio" name="social">
            <div class="item-content">Twitter</div>
            <i class="radio-icon ion-social-twitter"></i>
          </label>
          <label class="item item-radio">
            <input type="radio" name="social">
            <div class="item-content">YouTube</div>
            <i class="radio-icon ion-social-youtube"></i>
          </label>
          <div class="item item-toggle">
            <span class="input-label">Asombroso</span>
            <label class="toggle">
              <input type="checkbox">
              <div class="track"><div class="handle"></div></div>
            </label>
          </div>
  
          <div class="item range">
            <i class="icon ion-sad-outline"></i>
            <input type="range" name="feeling" min="0" max="100" value="50">
            <i class="icon ion-happy"></i>
          </div>

          <label class="item item-input item-select">
            <div class="input-label">Favorite Pet</div>
            <select>
              <option>Dogs</option>
              <option>Cats</option>
              <option>Duks</option>
            </select>
          </label>

          <div class="item item-divider">algun espacio mas</div>
        </div>
      </ion-content>